Repository taskworld/react-toast: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, tsc

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{js,ts,jsx,tsx}"
      run: yarn prettier --write {staged_files} && git add {staged_files}
    tsc:
      glob: "*.{ts,tsx}"
      run: yarn tsc

chore: clean up example site for now
  examples/src/CodeBlock/index.js
  examples/src/CodeBlock/themes.js
  examples/src/ConnectivityListener.js
  examples/src/favicon.ico
  examples/src/index.css
  examples/src/index.html
  examples/src/index.js
  examples/src/raw/example.js
  examples/src/styled.js
  examples/src/twitter-image.png
  package.json
  yarn.lock
Due: prettier

chore: avoid lefthook when being installed as a dependency
  package.json
Due: none

chore: avoid importing the default Toast unnecessarily
  src/ToastContainer.tsx
Due: prettier, tsc

feat: export convenient types
  src/index.tsx
Due: prettier, tsc

fix: misunderstood Node.js for browser setTimeout
  src/ToastController.tsx
Due: prettier, tsc

chore: remove unused code
  index.d.ts
  index.js
Due: prettier, tsc

chore: type compilation incompatibility
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/ToastContainer.tsx
  yarn.lock
Due: prettier, tsc
